@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: 
  }
}

@layer utilities {
  @keyframes animate-svg-grey {
    0% {
      fill: theme(colors.trasparent)
    }

    100% {
      fill: theme(colors.grey)
    }
  }

  @keyframes animate-svg-white {
    0% {
      fill: theme(colors.trasparent)
    }
    100% {
      fill: theme(colors.white)
    }
  }

  .svg-element-ian {
    animation: animate-svg-grey 1s theme(transitionTimingFunction.in-out) 0s both;
  }

  .svg-element-ian-2 {
    animation-delay: 0.04s;
  }

  .svg-element-ian-3 {
    animation-delay: 0.08s;
  }

  .svg-element-abalus {
    animation: animate-svg-white 1s theme(transitionTimingFunction.in-out) 0.12s both;
  }

  .svg-element-abalus-2 {
    animation-delay: 0.12s;
  }

  .svg-element-abalus-3 {
    animation-delay: 0.16s;
  }

  .svg-element-abalus-4 {
    animation-delay: 0.2s;
  }

  .svg-element-abalus-5 {
    animation-delay: 0.24s;
  }

  .svg-element-abalus-6 {
    animation-delay: 0.28s;
  }

  .svg-element-abalus-7 {
    animation-delay: 0.28s;
  }

  .svg-element-abalus-8 {
    animation-delay: 0.32s;
  }


  .svg-element-caret {
    animation: animate-svg-grey 1s theme(transitionTimingFunction.in-out) 0.36s both;
  }

  .svg-element-caret-2 {
    animation-delay: 0.4s;
  }

  .animate-h2 {
    animation: move 500ms theme(transitionTimingFunction.in-out) 500ms both;
  }
}